*{
    margin:0px;
    padding:0px;
}


nav{
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
    padding: 20px;
}


ul{
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

.header{
    height: 50vh;

    background-image:
       
        url("banner.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center; 
    align-items: center;
        color:whitesmoke;
padding: 300px;

}




.button{
 background-color: rgb(48, 48, 243);
width: 150px;
border-radius: 4px;
color:azure;
padding: 10px;
cursor: pointer;
 font-size: 16px;


}


.btn{

background-color: rgb(48, 48, 243);
width: 150px;
border-radius: 4px;
color:azure;
padding: 10px;
cursor: pointer;
 font-size: 16px;
position: absolute;


}





main{
    margin-top: 50px;
}



.meet{
    margin-bottom: 50px;
    text-align: center;
}














.speakers{
       display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;

}


.card{
    
    border: 1px solid #ddd;
    border-radius: 10px;
}






.intro{


margin-left: 20px;
color:rgb(4, 4, 236)


}


.nm{



}


.company {



}




.pricing{ 
    display: flex;
}





.standard{
    background-color: aliceblue;
    height: 600px;
    width: 600px;
}





